@font-face {
	font-family: "Montserrat";
	src: url(../../assets/fonts/Montserrat-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Montserrat bold";
	src: url(../../assets/fonts/Montserrat-Bold.ttf);
	font-display: swap;
}

:root {
	scroll-behavior: inherit;
	--bs-gutter-x: 20px;
	--72-text: 72px;
	--48-text: 48px;
	--36-text: 36px;
	--32-text: 32px;
	--24-text: 24px;
	--20-text: 20px;
	--18-text: 18px;
	--16-text: 16px;
	--16-12-text: 16px;
	--16-11-text: 16px;
	--16-10-text: 16px;
	--14-text: 14px;

	--grid-5-2: 5;
	--grid-4-2: 4;
	--grid-3-1: 3;
	--grid-2-1: 2;
	--grid-2fr-1fr: 2fr 1fr;
	--grid-1fr-2fr: 1fr 2fr;

	--height-60-40: 60px;
	--height-60-50: 60px;

	--page-gap: 40px;

	--main-color: #ff0d56;
	--main-color-hover: #e31e5a;
	--accent-color: #0b7cde;
	--accent-color-hover: #0b7cde;
	--second-color: #e6e6e6;
	--second-light-color: #f3f3f3;
	--text-color: #000;
}

#root {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	background: #fff;
}
.aside-grid {
	display: grid;
	grid-template-columns: 1fr 340px;
	gap: 40px 200px;
}
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 200px;
}

.out-grid {
	grid-column: 1/-1;
}
.bold {
	font-family: "Montserrat bold";
}



.icon {
	stroke: currentColor;
}
.icon-fill {
	fill: currentColor;
}
.icon-xs {
	width: 20px;
	height: 20px;
}
.icon-sm {
	width: 30px;
	height: 30px;
}
.icon-md {
	width: 40px;
	height: 40px;
}
.icon-lg {
	width: 60px;
	height: 60px;
}
.icon-xl {
	width: 80px;
	height: 80px;
}
.icon-xxl {
	width: 100px;
	height: 100px;
}


.hidden {
	display: none !important;
}
.hide {
	visibility: hidden;
}
.shown {
	display: flex !important;
}


.btn__catalog {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 16px;
	background: linear-gradient(to top left, rgb(11, 124, 222) 0%, rgb(255, 13, 86) 100%);
	transition: all 0.2s ease-out;
}
.btn__catalog .icon {
	display: none;
	width: 24px;
	color: #fff;
}
.btn__catalog.active .m-icon {
	display: none;
}
.btn__catalog.active .icon {
	display: block;
}
.btn__show-more {
	width: 100%;
	height: 60px;
	background: var(--second-light-color);
	border-radius: 10px;
	color: #000;
	font-family: "Montserrat bold";
	transition: all 0.2s ease-out;
}
.btn__show-more:hover {
	background: var(--main-color-hover);
	color: #fff;
}
.btn__open-filter {
	width: 60px;
	height: 60px;
	background: var(--second-light-color);
	border-radius: 16px;
}
.btn__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 25px;
	color: #fff;
	font-family: "Montserrat bold";
	font-size: var(--18-text);
	border-radius: 16px;
	background: linear-gradient(to top left, rgb(11, 124, 222) 0%, rgb(255, 13, 86) 100%);
	transition: all 0.2s ease-out;
}
.btn__main:hover {
	color: #fff;
}
.btn__fill-main {
	width: 100%;
	height: var(--height-60-40);
	color: #fff;
	font-family: "Montserrat bold";
	background: var(--main-color);
	border-radius: 12px;
}
.btn__fill-main:hover {
	color: #fff;
	background: var(--main-color-hover);
}
.btn__fill-black {
	width: 100%;
	height: var(--height-60-40);
	color: #fff;
	font-family: "Montserrat bold";
	background: #000;
	border-radius: 12px;
}
.btn__fill-black:hover {
	color: #fff;
	background: #000;
}
.btn__clear {
	display: flex;
	align-items: end;
	flex-shrink: 0;
	gap: 10px;
	line-height: 1;
}



.header {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-bottom: var(--page-gap);
}
.header__top {
	font-size: 16px;
	background: #333;
	color: #fff;
}
.header__top__line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}
.header__nav,
.header__callback {
	display: flex;
	gap: 30px;
}
.header__grid {
	display: grid;
	grid-template-columns: 60px 210px 1fr 340px;
	grid-template-areas: none;
	gap: 40px;
	align-items: center;
}



.footer {
	display: block;
	margin-top: var(--page-gap);
	background: #333;
	color: #333;
}



.control {
	display: flex;
	justify-content: space-between;
}
.control__item {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 12px;
	font-family: "Montserrat bold";
	border-radius: 12px;
}
.control__item>span {
	padding-right: 10px;
}
.control__item .control-icon {
	color: #000;
}
.control__item:hover {
	background: var(--second-color);
	color: #000;
}
.control__item.active .control-icon {
	color: var(--main-color);
}
.control__icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
}
.control__label {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	color: #fff;
	background: var(--main-color-hover);
	border-radius: 50%;
}
.control__label:empty {
	display: none;
}



.search-form {
	position: relative;
	width: 100%;
}
.search-form input {
	width: 100%;
	height: 56px;
	padding: 15px 20px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 10px;
	outline: none;
	box-shadow: 0 0 0 0.15rem var(--main-color);
	transition: all 0.2s ease-out;
}
.search-form input::-ms-input-placeholder {
	color: #000;
	font-size: var(--16-text);
	font-family: "Montserrat bold";
}
.search-form input::placeholder {
	color: #000;
	font-size: var(--16-text);
	font-family: "Montserrat bold";
}
.search-form input:hover,
.search-form input:focus {
	background: #fff;
	box-shadow: 0 0 0 0.2rem var(--accent-color-hover);
}
.search-form button {
	position: absolute;
	top: 13%;
	right: 15px;
	color: #000;
	border: none;
	background: none;
	transition: all 0.2s ease-out;
}
.search-form button:hover {
	color: var(--main-color-hover);
}



.categories__tile {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	gap: 20px;
}
.categories__tile>.category-item:first-child {
	grid-row: span 2;

}
.category-item {
	width: 100%;
	height: 100%;
	max-height: 700px;
}
.category-item__link {
	position: relative;
	display: flex;
	align-items: end;
	width: 100%;
	height: 100%;
	background: var(--second-color);
	border-radius: 24px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.category-item__link:hover {
	background: var(--main-color);
	color: #fff;
}
.category-item__title {
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: var(--24-text);
}










.popular-items__title {
	margin-bottom: 24px;
}
.catalog__items {
	display: grid;
	grid-template-columns: repeat(var(--grid-5-2), 1fr);
	gap: 25px;
	transition: all 0.2s ease-out;
}
.catalog__items--view-line {
	display: flex;
	flex-direction: column;
	gap: 15px;
}


.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	padding: 20px 15px;
	border: 4px solid var(--second-light-color);
	border-radius: 24px;
	transition: all 0.2s ease-out;
}
.catalog-item:hover {
	border-color: var(--main-color-hover);
}
.catalog-item__img {
	position: relative;
}
.catalog-item__img img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: contain;
	border-radius: 16px;
}
.catalog-item__title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: var(--18-text);
	text-overflow: ellipsis;
	overflow: hidden;
}
.catalog-item__order {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	font-size: var(--16-12-text);
}
.catalog-item__order .icon {
	color: var(--main-color);
	justify-self: end;
}
.catalog-item__description {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.catalog-item__description p {
	display: none;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
}
.catalog-item__buy {
	width: 95px;
}
.catalog-item__buy .add-cart span {
	display: none;
}
.catalog-item__label {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 5;
	padding: 10px;
	font-size: 12px;
	font-family: "Montserrat bold";
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	background: rgba(11, 124, 222, 0.7);
	border-radius: 12px;
}
.catalog-item__label::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-radius: 12px;
	z-index: -1;
}
.catalog-item__add-to {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.catalog-item--line {
	display: grid;
	grid-template-columns: 100px 1fr 120px 320px;
	grid-template-areas: "I D A O";
	gap: 20px;
	align-items: center;
}
.catalog-item--line .catalog-item__img {
	grid-area: I;
}
.catalog-item--line .catalog-item__description {
	grid-area: D;
}
.catalog-item--line .catalog-item__add-to {
	grid-area: A;
}
.catalog-item--line .catalog-item__order {
	grid-area: O;
}
.catalog-item--line .catalog-item__add-to {
	position: relative;
	top: auto;
	right: auto;
	flex-direction: row;
}
.catalog-item--line .catalog-item__label {
	font-size: 10px;
	padding: 5px;
	border-radius: 8px;
}
.catalog-item--line .add-cart {
	padding: 10px 15px;
	width: 100%;
}
.catalog-item--line .catalog-item__buy {
	width: 160px;
}
.catalog-item--line .catalog-item__buy .add-cart span {
	display: block;
}
.catalog-item--line .catalog-item__description .catalog-item__title {
	font-family: "Montserrat bold";
}
.catalog-item--line .catalog-item__description p {
	display: -webkit-box;
}




.price__old {
	display: flex;
	gap: 15px;
	font-size: 12px;
}
.price__old span {
	color: var(--main-color);
}
.price__new {
	font-size: 18px;
	font-family: "Montserrat bold";
}
.price__total {
	font-size: 18px;
	font-family: "Montserrat bold";
}


.add-to {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 12px;
}
.add-to::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-radius: 12px;
	z-index: -1;
}
.add-to:hover {
	background: var(--main-color-hover);
}
.add-to:hover .icon {
	stroke: #fff !important;
}
.add-to:hover .icon-fill {
	fill: #fff !important;
}
.add-to.active .icon {
	stroke: var(--main-color);
}
.add-to.active .icon-fill {
	fill: var(--main-color);
}
.add-cart {
	gap: 15px;
	width: 100%;
	height: 40px;
	color: #fff;
	font-family: "Montserrat bold";
	border-radius: 12px;
	background: linear-gradient(to top left, rgb(11, 124, 222) 0%, rgb(255, 13, 86) 100%);
	transition: all 0.2s ease-out;
}





.sort {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 25px;
}
.sort__main {
	display: flex;
	align-items: center;
	gap: 40px;
}
.sort__view {
	display: flex;
	align-items: center;
	gap: 10px;
}
.sort__view a {
	width: 60px;
	height: 60px;
	background: var(--second-color);
	border-radius: 16px;
}
.sort__view a:hover {
	background: var(--main-color-hover);
}
.sort__view a:hover .icon {
	stroke: #fff;
}
.sort__view a.active {
	background: #000;
	pointer-events: none;
}
.sort__view a.active .icon {
	stroke: #fff;
}

.sort-dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 230px;
	height: 60px;
	padding: 0 20px;
	font-size: 14px;
	background: var(--second-light-color);
	border-radius: 16px;
	transition: all 0.2s ease-out;
}
.sort-dropdown::after {
	content: "";
	position: absolute;
	top: calc(50% - 4px);
	right: 20px;
	border: none;
	width: 16px;
	height: 8px;
	margin-left: 7px;
	vertical-align: middle;
	background: url(../../../public/images/sort-drop.svg);
	background-repeat: no-repeat;
}
.sort-dropdown:hover {
	color: #fff;
	background: #000;
}
.sort-dropdown__label {
	font-size: 12px;
}

.sort-price {
	display: flex;
	align-items: center;
	gap: 10px;
}
.sort-price__range {
	display: flex;
	flex-direction: column;
	background: var(--second-light-color);
	border-radius: 16px;
	padding: 8px 15px;
}
.sort-price__range span {
	font-size: 12px;
}
.sort-price__range input {
	color: #333;
	font-family: "Montserrat bold";
	border: none;
	outline: none;
	background: transparent;
	width: 100px;
}
.sort-price__range input::-ms-input-placeholder {
	color: #333;
}
.sort-price__range input::placeholder {
	color: #333;
}
.sort-price__range:hover, .sort-price__range:focus {
	background: #fff;
	box-shadow: 0 0 0 0.2rem var(--accent-color-hover);
}


  



.counter {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 5px;
	background: var(--second-color);
	border-radius: 12px;
}
.counter__dec,
.counter__inc {
	width: 30px;
	height: 30px;
	border-radius: 12px;
}
.counter__dec:hover,
.counter__inc:hover {
	background: #fff;
}
.counter__dec:hover .icon,
.counter__inc:hover .icon {
	color: var(--main-color-hover);
}
.counter input {
	text-align: center;
	font-size: 16px;
	color: #000;
	font-family: "Montserrat bold";
	width: 25px;
	height: 30px;
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	cursor: default;
}
.counter input:focus {
	border: none;
	outline: none;
}
.counter .icon {
	color: #000;
}



.product__inner {
	display: grid;
	grid-template-columns: 600px 500px 1fr;
	grid-template-areas: "P A B";
	gap: 20px 40px;
	margin-bottom: var(--page-gap);
}
.product__pictures {
	grid-area: P;
	display: grid;
	grid-template-columns: 1fr 60px;
	align-items: start;
	gap: 20px;
}
.product__attrs {
	grid-area: A;
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-size: var(--14-text);
}
.product__attrs dl {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.product__attrs dl dt {
	display: inline;
}
.product__attrs dl dt::after {
	content: ": ";
}
.product__attrs dl dd {
	display: inline;
}
.product__buy {
	grid-area: B;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.product__stock dl {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 0;
}
.product__stock dl div:not(.chart) {
	display: flex;
	align-items: center;
	gap: 10px;
}
.product__stock canvas {
	max-height: 150px;
	margin-left: -8px;
}
.product__img {
	width: 100%;
	aspect-ratio: 1;
	padding: 15px;
	border: 4px solid var(--second-light-color);
	border-radius: 32px;
}
.product__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.product__add-to {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.product__add-to button {
	width: var(--height-60-50);
	height: var(--height-60-50);
	background: var(--second-light-color);
	border-radius: 12px;
}
.product__add-to button:hover .icon {
	color: var(--main-color-hover);
}
.product__add-to button:hover .icon-fill {
	color: var(--main-color-hover);
}
.product__add-to span {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	font-size: 12px;
}
.product__add-to span .icon {
	color: var(--second-color);
}
.product__price {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.product__price .price__old {
	font-size: var(--18-text);
}
.product__price .price__new {
	font-size: var(--32-text);
	line-height: 1;
}
.product__price .price__nds {
	display: inline-block;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-bottom: 5px;
	font-size: var(--16-12-text);
}
.product__price .price__nds::after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-left: 7px;
	vertical-align: middle;
	border: none;
	/* background: url(../images/dropdown-black.svg); */
	background-repeat: no-repeat;
}
.product__add-cart {
	display: flex;
	flex-direction: row-reverse;
	gap: 15px;
	max-width: 450px;
}
.product__add-cart .counter {
	flex-basis: 60%;
}
.product__add-cart .add-cart,
.product__add-cart .counter {
	height: 50px;
}
.product__links {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}
.product__links a {
	display: block;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 5px 10px;
	font-size: var(--14-text);
	color: var(--accent-color);
	font-family: "Montserrat bold";
	border: 2px solid var(--accent-color);
	border-radius: 12px;
}
.product__links a:hover {
	color: var(--main-color-hover);
	border-color: var(--main-color-hover);
}


.main-page {
	display: flex;
	flex-direction: column;
	gap: var(--page-gap);
}


.cart__list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.cart__aside {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.cart__aside fieldset {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.cart__total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}
.cart .type-order {
	display: none;
	flex-direction: column;
	gap: 15px;
}
.cart .type-order button {
	color: #000;
	background: var(--second-color);
}
.cart .type-order button .icon {
	color: var(--main-color);
}
.cart .type-order button:hover {
	color: #fff;
	background: var(--main-color-hover);
}
.cart .type-order button:hover .icon {
	color: #fff;
}
.cart .type-order .page__checkbox {
	font-size: var(--14-text);
}
.cart .type-delivery {
	display: none;
	flex-direction: column;
	gap: 15px;
	margin: 15px 0;
}

.cart-item {
	position: relative;
	display: grid;
	grid-template-columns: 60px 1fr 1fr;
	grid-template-areas: "I T O";
	align-items: center;
	gap: 10px 20px;
	padding: 10px 15px;
	border: 4px solid var(--second-light-color);
	border-radius: 24px;
}
.cart-item__title {
	font-size: var(--14-text);
	grid-area: T;
}
.cart-item__order {
	grid-area: O;
	display: grid;
	grid-template-columns: repeat(3, 120px) 40px;
	align-items: center;
	gap: 10px 20px;
}
.cart-item__order .counter {
	width: 100px;
}
.cart-item img {
	grid-area: I;
}
.cart-item .del .icon {
	color: var(--second-color);
}
.cart-item .del:hover .icon {
	color: var(--main-color-hover);
}